.co-container{
    display: grid;
    grid-template-columns : 1fr auto;
    grid-template-rows:auto 1fr auto;
    grid-template-areas:
    "header header"
    "main sidebar"
    "footer footer";
    grid-column-gap:20px;  
    height:100vh;  
}

.co-navbar{
    grid-area:header;
}

.co-sidebar{
    grid-area : sidebar;
    width:200px;
    background-color:#ddd;
    margin-top:20px;
}
.co-main{
    grid-area:main;
    margin-top:20px;
}

.co-footer{
    grid-area:footer;
    background-color:#ddd;
    margin-top:20px;
}
